* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html, body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}

#container {
	/* margin-top: 50px; */
	/* flex: 1; */
	display: flex;
	flex-grow: 1;
	box-sizing: border-box;
	min-height: calc(100% - 50px);
	flex-direction: column;
	background-color: transparent;
	opacity: 1;
	z-index: 2;
	transition: opacity 0.3s ease-in-out;
}

.screen {
	padding: 20px;
	min-height: calc(100% - 40px);
	height: calc(100% - 40px);
}

#menu-contents {
	flex-grow: 1;
	min-height: 100%;
	background: url('../assets/wall.jpg') center/cover no-repeat;
}

#menu-contents > #plate {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-flow: row wrap;
	padding: 30px 20px;
}

#menu-contents > #plate > .pannel {
	margin: 20px;
	padding: 30px;
	max-width: 150px;
	width: 100%;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
	transition: padding 0.4s ease-in-out;
	/* transition: transform 0.4s ease-in-out;
	transform-origin: center top; */
}

#menu-contents > #plate > .pannel:hover {
	padding: 40px;
	/* transform: scale(1.07); */
}
